<div class="row1-col-3">
    <h3>Favorites</h3>
    <hr>
    <!--For loop - look up user's favorited recipes and display-->
    <ul>
        <% if(favs.length > 0) { 
            favNames.forEach(item => { %>
                <li><%= item %></li>
            <% })} else { %>
                <li>You haven't favorited anything yet</li>
            <% } %>
    </ul>
     <!-- row1-col-3 -->
</div>