<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Meal Planning:: <%= title %> </title>
        
        <link rel="stylesheet" href="/styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script defer
  src="https://unpkg.com/@tinybirdco/flock.js"
  data-host="https://api.us-east.tinybird.co"
  data-token="p.eyJ1IjogImI0OWQzZGQxLWZhZDgtNDUxYS05Yjc2LWQ1OWUyZWRkNWRmZCIsICJpZCI6
ICI5YzkwM2U2Ni1mOTdmLTQ5OWYtYWE3My00YTQxMmY0NjY2ZjYifQ.lMEp3IpnjU2K3DcULz1O1j
tZ4Q9J85mKAubjgU5tqLg"
/></head></script>
<script src="https://kit.fontawesome.com/375958c92b.js" crossorigin="anonymous"></script>
    
    </head>

    <body>
        
    <div class="wrapper">
        <div class="header-container">
            <P>Meal Planning Solutions</P>
        </div>
             <hr>
             <% if (user) { %>
                <p>Welcome, <%= user.fName %>!</p>
            <% } else if (admin) { %>
                <p>Welcome, <%= admin.fName %>!</p>
            <% } else { %>
                <p>Welcome, Guest! <a href="/signup">Sign Up Here</a></p> 
            <% } %> 

        
             