<%- include("./partials/header.ejs") %>

<%- include("./partials/nav.ejs") %>

<div class="row1-col-2">
            
    <p style = "padding-left: 10px;">DASHBOARD</p>
<hr>  
         <div class="icon-container">
             <iframe src="https://analytics.tinybird.co/?token=p.eyJ1IjogImI0OWQzZGQxLWZhZDgtNDUxYS05Yjc2LWQ1OWUyZWRkNWRmZCIsICJpZCI6ICIwZDU2NWU5Zi02MzU0LTQ1YzEtYjEyNy1lMWI2ZTM2NTk4MzcifQ.dNYLnxT7cYKNeHDwIu5HrdtZUag08BHWuk7cDBpmiak&host=https%3A%2F%2Fui.us-east.tinybird.co" frameborder="0" width="600px"></iframe>
             <hr>
             <p>Create a new admin account</p>
              <!-- icon-container -->
          </div>
<br><br><hr>
        <!-- row1-col-2 -->
</div>

<%- include("./partials/favs.ejs") %>

<%- include("./partials/footer.ejs") %>