<%- include("./partials/header.ejs") %>

<%- include("./partials/nav.ejs") %>

<div class="row1-col-2" style="width: 80%;">
    <p>RECIPE DETAILS</p>
    <hr>
    <!-- row1-col-2 -->
        <iframe class="pd_iframe" style="height: 90%; width: 100%;"
            img src =<%= pdf %>  title="Iframe Example" width="400px" height ="1000px">
        </iframe>
</div>


<%- include("./partials/footer.ejs") %>