<%- include("./partials/header.ejs") %>

<%- include("./partials/nav.ejs") %>

<div class="row1-col-2">
    <p>Recipe Detail Page</p>
    <hr>
    <!-- row1-col-2 -->
    <div class="icon-container">
        
    </div>
</div>


<%- include("./partials/footer.ejs") %>